<div class="parameters">
    <form #elementForm="ngForm">
        <div>
            <label>X position</label>
            <input [(ngModel)]="currentElement.positionX" #ctrl="ngModel" type="number" name="positionX">
        </div>
        

        <div>
            <label>Y position</label>
            <input [(ngModel)]="currentElement.positionY" #ctrl="ngModel" type="number" name="positionY">
        </div>
        
        <div>
            <label>Element Type</label>
        <input [(ngModel)]="currentElement.type" #ctrl="ngModel" name="type">
        </div>
        
    </form>
        


    <!-- <button (click)="updateElement()"> Check observable</button> -->
</div>