/* .example-list{
    height: 336px;
    width: 500px;
    background: rgb(202, 201, 201);
} */


.sidebar{
    width: 15% !important;   
    background: #f1f1f1;
}

.sidebar-item{
    margin-bottom: 10px;
}

.sidebar-item-card{
    color: white;
    background: #3e4444;
    width: 100%;
}




