<mat-drawer-container class="full-space">
      <mat-drawer class="sidebar" mode="side" opened>
            
                  <mat-list>
                        <mat-list-item class="sidebar-item" *ngFor="let item of elements">
                              <mat-card class="sidebar-item-card" draggable="true" (drag)="assignSelect(item)">{{item.type}} </mat-card>
                        </mat-list-item>
                  </mat-list>
      
      </mat-drawer>

      <mat-drawer-content >
            <app-workboard-element [elementPushed]="finalElement"></app-workboard-element>
      </mat-drawer-content>
</mat-drawer-container>
     


