.example-box{
    position: absolute;
    padding: 10px;
}

.example-list{
    height: 90%;
    width: 100%;
    background: rgb(202, 201, 201);
}


.work-area{
    width: 70%;
    background: #3e4444;
}

.element-params{
    width: 30%;
}

.work-area-buttons{
    position: relative;
    background-color: white;
    border-style: solid;
    border: 0.5px;
    /* height: 80px; */
}


.local-buttons{
    position: absolute;
    right: 0px;    
    margin: 12px;   
}

.action-button{
    margin-right: 10px;
}

.delete-button{
    position: absolute;
    left: 0px;
    margin: 12px;;
}

.clickedClass{
    border-style: dotted;
    border-width: 0.5px;
}